* {
    margin: 0;;
    padding: 0;
    box-sizing: border-box; 

}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f5f5f5;
}
.header {
    padding: 20px;
    background-color: white;
    display: flex;
    justify-content: space-between;
h1 {
    img {
        width: 100px;
    }
}

}
.nav {
    margin-top: 10px;
a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.recipes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
 img {
    width: 100%;
    border-radius: 5px;
}
}
